<form (ngSubmit)="handleFormSubmit()">
  <div class="input-group">
    <p>
      <label for="initialInvestment">Initial Investment</label>
      <input type="number" id="initialInvestment" name="initialInvestment" [(ngModel)]="initialInvestment">
    </p>

    <p>
      <label for="annualInvestment">Annual Investment</label>
      <input type="number" id="annualInvestment" name="annualInvestment" [(ngModel)]="annualInvestment">
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="expectedReturn">Expected Return Rate</label>
      <input type="number" id="expectedReturn" name="expectedReturn" [(ngModel)]="expectedReturnRate">
    </p>

    <p>
      <label for="duration">Duration</label>
      <input type="number" id="duration" name="duration" [(ngModel)]="duration">
    </p>
  </div>

  <p>
    <button>Calculate</button>
  </p>
</form>